{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <h2>Log In</h2>

      </div>
    </section>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-8 entries">
  
              <div class="blog-author ">
                <div class="row gy-4">

            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary">
                    Login
                </button>
            </form>
        </div>
    </div><!-- End blog author bio -->


  </div><!-- End blog entries list -->


</div>

</div>
</section><!-- End Blog Single Section -->      

  </main><!-- End #main -->





{% endblock content %}
